@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

.sticky-top {
    background-color: #fff;
}

.navbar {
    font-family: Poppins, sans-serif;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    display: inline;
    margin-left: 5px;
}

.navbar-toggler {
    float: right;
    border: none;
}

.navbar-toggler {
    outline: none;
}

.nav-link {
    color: #212121;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item::hover .nav-link {
    color: #8167a9;
}

.nav-link {
    position: relative;
    display: inline-block;
}

#signBtn {
    color: #fff;
}

.nav-links__flex {
    display: flex;
    justify-content: space-between;
}

*/ .navbar-brand {
    text-decoration: none;
}